{% if page.year != null %}
    {% assign year = page.year %}
{% else %}
    {% assign year = site.data.cvmp.current-year %}
{% endif %}

<div class="panel panel-default" id="sponsors">
    <h4 class="panel-heading">Sponsors</h4>
    <div class="panel-body"  style="padding-left: 15px; padding-right: 15px;">
        <div class="dense-gutter">
            <!-- Gold Sponsors -->
            <h3 style="color: #D4AF37; padding-bottom: 10px;">Gold</h3>
            <div class="row" style="padding-bottom: 20px;">
                {% for sponsor in site.data.sponsors[year] %}
                    {% if sponsor.level contains 'gold' %}
                        <div class="col-xs-12 col-sm-6">
                            <a href="{{sponsor.url}}" target="_blank"><img src="{{site.url}}/{{sponsor.image}}" class="img-responsive" alt="{{sponsor.name}} logo" title="{{sponsor.name}}"></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Silver Sponsors -->
            <h4 style="color: #C0C0C0; padding-bottom: 10px;">Silver</h4>
            <div class="row" style="padding-bottom: 20px;">
                {% for sponsor in site.data.sponsors[year] %}
                    {% if sponsor.level contains 'silver' %}
                        <div class="col-xs-12 col-sm-6">
                            <a href="{{sponsor.url}}" target="_blank"><img src="{{site.url}}/{{sponsor.image}}" class="img-responsive" alt="{{sponsor.name}} logo" title="{{sponsor.name}}" style="max-height: 25px;"></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- If you want to add padding to other sections, you can uncomment the following blocks and add padding as needed -->

            <!-- Bronze Sponsors -->
<!--            <h5 style="padding-bottom: 10px;">Bronze Sponsors</h5>-->
<!--            <div class="row" style="padding-bottom: 20px;">-->
<!--                {% for sponsor in site.data.sponsors[year] %}-->
<!--                    {% if sponsor.level contains 'bronze' %}-->
<!--                        <div class="col-xs-12 col-sm-6">-->
<!--                            <a href="{{sponsor.url}}" target="_blank"><img src="{{site.url}}/{{sponsor.image}}" class="img-responsive" alt="{{sponsor.name}} logo" title="{{sponsor.name}}"></a>-->
<!--                        </div>-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->
<!--            </div>-->

            <!-- Academic Sponsors -->
<!--            <h5 style="padding-bottom: 10px;">Academic Sponsors</h5>-->
<!--            <div class="row" style="padding-bottom: 20px;">-->
<!--                {% for sponsor in site.data.sponsors[year] %}-->
<!--                    {% if sponsor.level contains 'academic' %}-->
<!--                        <div class="col-xs-12 col-sm-6">-->
<!--                            <a href="{{sponsor.url}}" target="_blank"><img src="{{site.url}}/{{sponsor.image}}" class="img-responsive" alt="{{sponsor.name}} logo" title="{{sponsor.name}}"></a>-->
<!--                        </div>-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->
<!--            </div>-->
        </div>
    </div>
</div>
