{% if page.year != null %}
    {% assign year = page.year %}
{% else %}
    {% assign year = site.data.cvmp.current-year %}
{% endif %}

<div class="panel panel-default" id="sponsors">
    <h4 class="panel-heading">Sponsors</h4>
    <div class="panel-body" style="padding-left: 15px; padding-right: 15px;">
        <div class="dense-gutter">
            <!-- Gold Sponsors -->
            <h3 style="color: #D4AF37; padding-bottom: 10px;">Gold</h3>
            <div class="row" style="padding-bottom: 20px;">
                {% for sponsor in site.data.sponsors[year] %}
                    {% if sponsor.level contains 'gold' %}
                        <div class="col-xs-12 col-sm-12">
                            <a href="{{ sponsor.url }}" target="_blank"><img src="{{ site.url }}/{{ sponsor.image }}" class="img-responsive" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}"></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Silver Sponsors -->
            <h4 style="color: #C0C0C0; padding-bottom: 10px;">Silver</h4>
            <div class="row" style="padding-bottom: 20px;">
                {% assign silverSponsors = site.data.sponsors[year] | where: "level", "silver" %}
                {% assign silverBestPaperAwardSponsors = site.data.sponsors[year] | where: "level", "silver2" %}

                {% for sponsor in silverSponsors %}
                    <div class="col-xs-12 col-sm-6">
                        <a href="{{ sponsor.url }}" target="_blank">
                            <img src="{{ site.url }}/{{ sponsor.image }}" class="img-responsive" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}" style="max-height: 25px;">
                        </a>
                    </div>
                {% endfor %}

                {% if silverBestPaperAwardSponsors.size > 0 %}
                    <div class="col-xs-12 col-sm-6">
                        <h5 style="color: black; padding-bottom: 5px; padding-left: 12px">Best Paper Award</h5>
                        {% for sponsor in silverBestPaperAwardSponsors %}
                            <a href="{{ sponsor.url }}" target="_blank">
                                <img src="{{ site.url }}/{{ sponsor.image }}" class="img-responsive" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}">
                            </a>
                            <p>{{ sponsor.description }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Bronze Sponsors -->
            <!-- Uncomment and adjust as needed -->
<!--            <h4 style="color: #CD7F32; padding-bottom: 10px;">Bronze</h4>-->
<!--            <div class="row" style="padding-bottom: 20px;">-->
<!--                {% for sponsor in site.data.sponsors[year] %}-->
<!--                    {% if sponsor.level contains 'bronze' %}-->
<!--                        <div class="col-xs-12 col-sm-6">-->
<!--                            <a href="{{ sponsor.url }}" target="_blank"><img src="{{ site.url }}/{{ sponsor.image }}" class="img-responsive" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}"></a>-->
<!--                        </div>-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->
<!--            </div>-->

            <!-- Academic Sponsors -->
            <!-- Uncomment and adjust as needed -->
<!--            <h4 style="color: #C0C0C0; padding-bottom: 10px;">Academic</h4>-->
<!--            <div class="row" style="padding-bottom: 20px;">-->
<!--                {% for sponsor in site.data.sponsors[year] %}-->
<!--                    {% if sponsor.level contains 'academic' %}-->
<!--                        <div class="col-xs-12 col-sm-6">-->
<!--                            <a href="{{ sponsor.url }}" target="_blank"><img src="{{ site.url }}/{{ sponsor.image }}" class="img-responsive" alt="{{ sponsor.name }} logo" title="{{ sponsor.name }}"></a>-->
<!--                        </div>-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->
<!--            </div>-->
        </div>
    </div>
</div>
